body{
    background-color:  #000d33;
    display: block;
    align-content: center;
}

html{
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color:white;
    
}


#heading2{
    margin-top: 0;
    font-size: 24px;
    font-weight: 400;
    color: white;
}

#monkeylearninput{
    margin-left: 15px;
    font-size: 15px;
    padding: 15px 16px;
    color: #222;
    box-shadow: inset 0 1px 0 0 rgb(0 0 0 / 5%);
    border: 1px solid #ddd;
    resize: none;
    height: 246px;
    overflow: auto;
    text-align: start;
    line-height: 1.8;
    width: 275px;
}


#Module-description {
    margin-top: 25px;
    font-size: 14px;
    color: #7f8a96;
    line-height: 1.5;
    width: 66.66666667%;
    min-width: 992px;
}

#result {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 240px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 500px;
    height: 240px;
    border: solid 1px burlywood;
    font-size: 14px;
    line-height: 1.42857143;
   background-color: white;
   color: black;
   align-content: center;
}


.content1 {
    display: inline;
    float: left;
}
.content2{
    display: inline;
    float:left;
    margin-left: 50px;
}

.button{
    margin-top: 10px;
    border-radius: 6px;
    background-color: #008bff;
    box-shadow: 0 3px 10px 0 rgb(0 139 255 / 30%);
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    padding: 10px 25px;
    border: 0;
    min-width: 100px;
    outline: none;
    /* display: inline-block; */
    margin-bottom: 0;
    /* text-align: center; */
    /* vertical-align: middle; */
    cursor: pointer;
    line-height: 1.42857143;
}

.father{
    position: absolute;
    left: 20%;
    height: 350px;
}

.father1{
    position: absolute;
    left: 20%;
    height: 350px;
    top: 10%;
}

.header{
    text-align: left;
    left: 50px;
    margin-left: 20%;
    margin-top: 5%;
}